<div [style.height.px]="220">
  <mat-toolbar>
    <span>{{ event?.date | date : 'MMMM yyyy' }}</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="selectToday()">
      <mat-icon>calendar_today</mat-icon>
    </button>
  </mat-toolbar>

  <div class="tw-calendar-container">
    <div *ngFor="let day of week" class="tw-text-small tw-row">
      {{ day.date | date : 'EEE' }}
    </div>
    <div
      *ngFor="let day of week; index as index"
      (click)="selectDay(day.date, index)"
      class="tw-row"
    >
      <div [ngClass]="{ 'tw-calendar-day': true, 'tw-selected-day': index === selected, 'tw-today': index === 6 }">
        {{ day.date | date : 'dd' }}
      </div>
    </div>
    <div *ngFor="let day of week" class="tw-text-small">
      8:00
    </div>
  </div>

  <div class="tw-row tw-flex">
    <div>{{ event?.date | date : 'EEEE dd.MM.yyyy' }}</div>
    <div>
      <a href>Go to time sheet</a>
    </div>
  </div>
</div>